@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", serif;
}